body{
    background-color: #e3cbcb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}
nav{
    background-color:#a9c8e0;
    padding-left:10px;
    padding-right:10px;
    border: solid 3px #0e2133;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;

    border-radius: 10px;
    padding: 10px 10px;
}
nav ul li.current a{
    font-weight: bolder;
    font-size: larger;
    color:rgba(47, 18, 43, 0.603);
}
h1, h2, h3{
    text-align: center;
    color: rgba(0, 27, 13, 0.603);
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 10px;
    padding: 10px;
}
.welcome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 10px;
    padding: 10px;
}

img{
    width: 100%;
    height: 40%;
    border: solid 3px #0e2133;
}
#skip-link {
    position: fixed;
    top: -40px;
    left: 10px;
    background-color: #fff;
    z-index: 9999;
    padding: 10px;
    border: 1px solid #000;
    transition: top 0.3s;
}

#skip-link:focus {
    top: 10px;
}

