body{
    background-color: #e3cbcb;
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 10px;
}
nav{
    background-color:#a9c8e0;
    padding:10px;
    margin: 10px;
    border: solid 3px #0e2133;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    padding: 10px 10px;
}
nav ul li.current a{
    font-weight: bolder;
    font-size: larger;
    color:rgba(47, 18, 43, 0.603);
}
h1{
    text-align: center;
    color: rgba(0, 27, 13, 0.603);
}

.content{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-row: auto;
    grid-gap: 20px;
    padding: 20px;
}

img{
    width: 100%;
    height: 30%;
    object-fit: cover;
    border: solid 3px #0e2133;
}
h2{
    color: rgba(0, 27, 13, 0.603);
    text-align: center;
}
h3{
    color: rgba(0, 27, 13, 0.603);
    text-align: center;
}