body{
    background-color: #f2efe3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #f2e3eb;
    padding-left:10px;
    padding-right:10px;
    border: solid 5px #a4c2e9;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;

    border-radius: 10px;
    padding: 10px 10px;
}
nav ul li.current a{
    font-weight: bolder;
    font-size: larger;
    color:#e654a2;
}

nav,h1,h2{
    padding: 0;
    margin: 0;
}
h1{
    
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
}

h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #c2c9ef;
    color: rgb(55, 54, 54);
    padding: 15px;

}
h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color:#f0dbe6;
    color: rgb(55, 54, 54);
    padding: 10px;
}
p{
    text-align: left;
    color: black;
    font-family: Courier, monospace;
    padding:10px;
}
ul li{
    font-family:Courier, monospace;
    color: black;
}

.content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    margin: 10px;
    padding: 10px;
}
.welcome{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    padding-top: 20px;
}


.list{
    display:block;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

img{
    width: 80%;
    height: 80%;
    border: solid 5px #a4c2e9;
    border-radius: 10px;
}

#skip-link {
    position: fixed;
    top: -40px;
    left: 10px;
    background-color: #fff;
    z-index: 9999;
    padding: 10px;
    border: 1px solid #000;
    transition: top 0.3s;
}

#skip-link:focus {
    top: 10px;
}

